[submodule "third_party/stockfish"]
	path = third_party/stockfish
	url = https://github.com/official-stockfish/stockfish
[submodule "third_party/whisper.cpp"]
	path = third_party/whisper.cpp
	url = https://github.com/ggerganov/whisper.cpp
[submodule "third_party/simpleble"]
	path = third_party/simpleble
	url = https://github.com/OpenBluetoothToolbox/SimpleBLE
[submodule "third_party/espeak-ng"]
	path = third_party/espeak-ng
	url = https://github.com/espeak-ng/espeak-ng
